<html>
    <head>
        <title>Apple Renamer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="index.js"></script>
        <link rel="stylesheet" href="index.css">
        <script>
            const fs = require("fs"); 

            Vue.component("test-comp", {
                template: "<div><a>{{up}}</a><br><a>{{down}}</a</div>", 
                props: ["up", "down"]
            });
            function init() {
                vm = new Vue({
                    el: "#vueBody", 
                    data: {
                        files: [], 
                        fileSelected: -1, 
                        actions: [{
                            type: "filter", 
                            checked: true, 
                            pattern: ".*"
                        }, {
                            type: "replace", 
                            pattern: "R", 
                            replacement: "--KKK--"
                        }], 
                        actionTypes: [{
                            type: "replace", 
                            name: "Replace"
                        }, {
                            type: "filter", 
                            name: "Filter"
                        }, {
                            type: "mark", 
                            name: "Mark"
                        }], 
                        newAction: {
                            type: 'replace'
                        }
                    }, 
                    watch: {
                        files: {
                            handler: (value, old) => {
                                preview(); 
                            }, 
                            deep: true
                        }, 
                        actions: {
                            handler: (value, old) => {
                                preview(); 
                            }, 
                            deep: true
                        }
                    }
                })

                fs.readdir("c:/", (error, filenames) => {
                    var files = []; 
                    for (var filename of filenames) {
                        var file = {}; 
                        file.dir = "c:/"; ///////////
                        file.name = filename; 
                        file.checked = true; 
                        files.push(file); 
                    }
                    vm.files = files; 
                }); 
            }
        </script>
    </head>
    <body onload="init(); ">
        <div id="vueBody" class="main-blocks__container">
            <div id="divFileList" class="main-blocks__block">
                <div class="flxp-rcc at__body">
                    <img class="at__icon" src="img/at.png" />
                    <input type="text" id="txtWorkingDir" class="flxc at__workingdir" value="C:\" />
                </div>
                <div id="divFiles" class="files__body list__container">
                    <div v-for="(file, f) in files" class="files__item list__item"
                        v-on:click="fileSelected = f; " v-bind:class="{selected: f == fileSelected}">
                        <div class="flxp-rcc">
                            <input type="checkbox" class="files__select"
                                v-bind:checked="file.checked" v-model="file.checked" />
                            <div class="flxc">
                                <span class="files__number" v-if="file.checked">
                                    {{file.number}}: 
                                </span>
                                <span class="files__original-name" v-bind:title="file.dir">
                                    {{file.name}}
                                </span><br>
                                <span class="files__modified-name" v-if="file.checked">
                                    {{file.modified}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divActionList" class="main-blocks__block">
                <div id="divActions" class="actions__body list__container">
                    <div class="actions-item list__item flxp-rcc" v-for="action in actions">
                        <input type="checkbox" v-bind:checked="action.checked" v-model:checked="action.checked"
                            class="files__select" />
                        <div class="flxc">
                            <div v-if="action.type === 'replace'">
                                <span class="action__attribute action__title">Replace</span><br>
                                <span class="action__attribute action__replace-pattern">
                                    {{action.pattern}}
                                </span><br>
                                <span class="action__attribute action__replace-replacement">
                                    {{action.replacement}}
                                </span>
                            </div>
                            <div v-if="action.type === 'filter'">
                                <span class="action__attribute action__title">Filter</span><br>
                                <span class="action__attribute action__filter-pattern">
                                    {{action.pattern}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divNewAction" class="new-action">
                    <div id="divNewActionExpand" class="expand-button">
                        <span>+New Action</span>
                    </div>
                    <div id="divNewActionType" class="flxp-rcc">
                        <select id="slcNewActionType" class="select flxc" v-model="newAction.type">
                            <option v-for="actionType in actionTypes" v-bind:value="actionType.type">
                                {{actionType.name}}
                            </option>
                        </select>
                    </div>
                    <div v-bind:class="{active: newAction.type === 'replace'}" class="new-action-attributes">
                        <div class="new-action-attributes__body">
                            <img class="new-action-attributes__icon" src="img/replace-find.png" />
                            <div class="new-action-attributes__inputs">
                                <input type="text" id="txtNewActionReplacePattern" class="flxc"
                                    placeholder="Find" />
                                <br>
                                <input type="text" id="txtNewActionReplaceReplacement" class="flxc"
                                    placeholder="Replace with" />
                            </div>
                        </div>
                    </div>
                    <div id="divNewActionConfirm" class="flxp-rcc">
                        <input type="button" id="btnNewActionConfirm" value="Confirm" 
                            class="button flxc" onclick="addNewAction(); " />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>