* {
    box-sizing: border-box; 
}
.flxp, .flxp-rcc {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap; 
}
.flxc, .flxc-1 {
    flex: 1; 
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.at__body {
    padding: 8px; 
}
.at__icon {
    height: 32px; 
    width: 32px;
    margin: 8px; 
}
.at__workingdir {
    font-size: 18pt; 
    margin-left: 5px; 
    margin-right: 5px; 
}
.files__name {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    font-size: 16pt; 
}
.main-blocks__container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: stretch;
    height: 100%;
}
.main-blocks__block {
    border-radius: 3px; 
    box-shadow: 0px 0px 5px black; 
    margin: 5px; 
    padding: 10px; 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    justify-content: flex-start;
    align-items: stretch; 
}
.list__container {
    overflow-y: auto; 
    flex: 1; 
}
.list__item {
    border-radius: 3px; 
    border: 2px solid black; 
    margin: 10px; 
    padding: 5px; 
}
.expand-button {
    text-align: center; 
    font-size: 16pt; 
    font-weight: bold; 
    color: white; 
    background-color: black; 
    border-radius: 3px; 
    border: 3px solid black; 
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px; 
    cursor: default;
}
.button {
    font-size: 14pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background: white; 
    border-radius: 3px; 
    border: 3px solid black;
    padding: 3px; 
    margin-top: 5px;
    margin-bottom: 5px; 
    transition: 0.3s; 
}
.button:hover {
    color: white; 
    background-color: black; 
    transition: 0.3s; 
}
.button:focus {
    outline: 0; 
}
.select {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 16pt; 
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: center; 
}
.select:focus {
    outline: 0; 
}
.full-section {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
}
.full-section-fat-item {
    flex: 1; 
}
.new-action__attributes input[type=text] {
    font-size: 16pt; 
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 5px; 
    margin-bottom: 5px; 
    width: 100%; 
}
.new-action__attributes {
    display: none; 
}
.new-action__attributes.active {
    display: block; 
}
.new-action__attributes-icon {
    height: 64px; 
    width: 64px; 
    margin: 8px; 
}
.new-action__attributes-body {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: left; 
}
.new-action__attributes-inputs {
    flex: 1; 
}
#divNewAction {
    max-height: 40px; 
    transition: 0.5s; 
    overflow: hidden; 
}
#divNewAction:hover {
    max-height: 100%;
    transition: 0.5s; 
}
.action__title {
    color: grey; 
    font-size: 9pt; 
}