body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.at-mark {
    font-size: 24pt; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: bold; 
    color: gold; 
}
.txt-file-name {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    font-size: 16pt; 
}
.main-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
}
.main-block {
    border-radius: 5px; 
    box-shadow: 0px 0px 5px black; 
    height: calc(100% - 5px * 8); 
    /* width: 30%;  */
    margin: 5px; 
    padding: 10px; 
    /* float: left;  */
}
.list {
    overflow: auto; 
}
.list-item {
    border-radius: 5px; 
    box-shadow: 0px 0px 5px black; 
    margin: 10px; 
    padding: 5px; 
}