<html>
    <head>
        <title>Apple Renamer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <link rel="stylesheet" href="index.css">
        <script>
            const fs = require("fs"); 

            Vue.component("test-comp", {
                template: "<div><a>{{up}}</a><br><a>{{down}}</a</div>", 
                props: ["up", "down"]
            });
            function init() {
                vm1 = new Vue({
                    el: "#txt", 
                    data: {
                        msg: "XSX"
                    }
                }); 
                vm2 = new Vue({
                    el: "#divi"
                }); 
                vm3 = new Vue({
                    el: "#l", 
                    data: {
                        x: [3, 4, 5]
                    }
                }); 
                vm4 = new Vue({
                    el: "#_vm4", 
                    data: {
                        // data: [1, 45, 6, 23, 9]
                        data: [{
                            n: 1, 
                            s: "one"
                        }, {
                            n: 10, 
                            s: "ten"
                        }]
                    }
                });

                vmFiles = new Vue({
                    el: "#vueBody", 
                    data: {
                        files: [], 
                        actions: [], 
                        newAction: {
                            type: 'replace'
                        }
                    }
                })

                console.log(fs.readdir("c:/", (error, paths) => {
                    vmFiles.files = paths; 
                })); 
            }
        </script>
    </head>
    <body onload="init(); ">
        <div id="vueBody" class="main-container">
            <div id="divFileList" class="main-block">
                <div>
                    <span class="at-mark">@</span>
                    <span class="working-directory">C:\</span>
                </div>
                <div id="divFiles" class="list">
                    <div class="files-item list-item" v-for="file in files">
                        <a>icon-here</a>
                        <span class="txt-file-name">{{file}}</span>
                    </div>
                </div>
            </div>
            <div id="divActionList" class="main-block">
                <div id="divActions" class="list">
                    <div class="actions-item list-item" v-for="action in actions">
                        <div v-if="actoin.type === 'replace'">
                            <span class="txt-action-replace-pattern">{{action.pattern}}</span><br>
                            <span class="txt-action-replace-replacement">{{action.replacement}}</span>
                        </div>
                    </div>
                </div>
                <div id="divNewAction" class="div-new-action">
                    <div id="divNewActionExpand" class="expand-button">
                        <span>+New Action</span>
                    </div>
                    <div id="divNewActionType" class="full-section">
                        <select id="slcNewActionType" class="select full-section-fat-item">
                            <option value="replace">Replace</option>
                            <option value="filter">Filter</option>
                            <option value="mark">Mark</option>
                        </select>
                    </div>
                    <div v-if="newAction.type === 'replace'" class="div-new-action-attributes">
                        <input type="text" id="txtNewActionReplacePattern"
                            class="full-section-fat-item" />
                        <br>
                        <input type="text" id="txtNewActionReplaceReplacement"
                            class="full-section-fat-item" />
                    </div>
                    <div id="divNewActionConfirm" class="full-section">
                        <input type="button" id="btnNewActionConfirm" value="Confirm" 
                            class="button full-section-fat-item" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>