<html>
    <head>
        <title>Apple Renamer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="index.js"></script>
        <link rel="stylesheet" href="index.css">
        <script>
            const fs = require("fs"); 

            Vue.component("test-comp", {
                template: "<div><a>{{up}}</a><br><a>{{down}}</a</div>", 
                props: ["up", "down"]
            });
            function init() {
                vm = new Vue({
                    el: "#vueBody", 
                    data: {
                        files: [], 
                        fileSelected: -1, 
                        actions: [{
                            type: "filter", 
                            checked: true, 
                            pattern: "$"
                        }, {
                            type: "replace", 
                            checked: true, 
                            pattern: "hiberfil.sys", 
                            replacement: "pagefile.sys"
                        }], 
                        actionTypes: {
                            replace: {
                                type: "replace", 
                                name: "Replace", 
                                modify: (file, action) => {
                                    var pattern; 
                                    if (action.puretext) {
                                        pattern = action.pattern; 
                                    } else {
                                        pattern = new RegExp(action.pattern); 
                                    }
                                    file.modified = file.modified.replace(
                                        pattern, action.replacement
                                    ); 
                                }, 
                                create: () => {
                                    var pattern = txtNewActionReplacePattern.value; 
                                    var replacement = txtNewActionReplaceReplacement.value; 
                                    var puretext = chkNewActionReplacePureText.checked; 
                                    vm.actions.push({
                                        type: "replace", 
                                        checked: true, 
                                        pattern: pattern, 
                                        replacement: replacement, 
                                        puretext: puretext
                                    }); 
                                }
                            }, 
                            filter: {
                                type: "filter", 
                                name: "Filter", 
                                modify: (file, action) => {
                                    var pattern; 
                                    var filtered; 
                                    if (action.puretext) {
                                        pattern = action.pattern; 
                                        filtered = file.modified.indexOf(pattern) < 0; 
                                    } else {
                                        pattern = new RegExp(action.pattern); 
                                        filtered = !pattern.test(file.modified); 
                                    }
                                    if (filtered) {
                                        file.warning = vm.warnings.raise("filtered", file.warning); 
                                        file.filtered = true; 
                                    }
                                }, 
                                create: () => {
                                    var pattern = txtNewActionFilterPattern.value; 
                                    var puretext = chkNewActionFilterPureText.checked; 
                                    vm.actions.push({
                                        type: "filter", 
                                        checked: true, 
                                        pattern: pattern, 
                                        puretext: puretext
                                    }); 
                                }
                            }, 
                            mark: {
                                type: "mark", 
                                name: "Mark", 
                                modify: (file, action) => {
                                    return; 
                                }
                            }
                        }, 
                        newAction: {
                            type: 'replace'
                        }, 
                        warnings: {
                            raise: (a, b) => {
                                var wa = vm.warnings[a]; 
                                if (wa === undefined) {
                                    wa = 0; 
                                }
                                var wb = vm.warnings[b]; 
                                if (wb === undefined) {
                                    wb = 0; 
                                }
                                if (wa > wb) {
                                    return a; 
                                } else {
                                    return b
                                }
                            }, 
                            slight: (warning) => {
                                var w = vm.warnings[warning]; 
                                return 0 < w && w < 100; 
                            }, 
                            severe: (warning) => {
                                var w = vm.warnings[warning]; 
                                return 100 < w; 
                            }, 
                            none: 0, 
                            unchanged: 10, 
                            filtered: 20, 
                            conflict: 1000
                        }
                    }, 
                    watch: {
                        files: {
                            handler: (value, old) => {
                                preview(); 
                            }, 
                            deep: true
                        }, 
                        actions: {
                            handler: (value, old) => {
                                preview(); 
                            }, 
                            deep: true
                        }
                    }
                })

                fs.readdir("c:/", (error, filenames) => {
                    var files = []; 
                    for (var filename of filenames) {
                        var file = {}; 
                        file.dir = "c:/"; ///////////
                        file.name = filename; 
                        file.checked = true; 
                        files.push(file); 
                    }
                    vm.files = files; 
                }); 
            }
        </script>
    </head>
    <body onload="init(); ">
        <div id="vueBody" class="main-blocks__container">
            <div id="divFileList" class="main-blocks__block">
                <div class="flxp-rcc at__body">
                    <img class="at__icon" src="img/at.png" />
                    <input type="text" id="txtWorkingDir" class="flxc at__workingdir" value="C:\" />
                </div>
                <div id="divFiles" class="files__body list__container">
                    <div v-for="(file, f) in files" class="files__item list__item"
                        v-on:click="fileSelected = f; "
                        :class="{
                            selected: f === fileSelected, 
                            'not-modifying': !file.modifying
                        }">
                        <div class="flxp-rcc">
                            <input type="checkbox" class="files__select"
                                :checked="file.checked" v-model="file.checked" />
                            <div class="flxc">
                                <span class="files__number" v-if="file.modifying">
                                    {{file.number}}: 
                                </span>
                                <span class="files__original-name" :title="file.dir">
                                    {{file.name}}
                                </span>
                                <span v-if="file.warning === 'filtered'"
                                    class="warning--slight"
                                    title="This file is filtered, no any modification will be exectued. ">
                                    <span class="files__warning files__warning--filtered">FILTERED</span>
                                </span>
                                <br>
                                <span class="files__modified-name" v-if="file.checked">
                                    <span v-if="file.warning === 'none' || file.warning === ''">
                                        {{file.modified}}
                                    </span>
                                    <span v-else-if="file.warning === 'unchanged'"
                                        class="warning--slight"
                                        title="File name unchanged. ">
                                        {{file.modified}}
                                    </span>
                                    <span v-else-if="file.warning === 'conflict'"
                                        class="warning--severe"
                                        title="This name will conflict with one of the previous files. ">
                                        <span class="files__warning files__warning--conflict">
                                            CONFLICT</span>{{file.modified}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divActionList" class="main-blocks__block">
                <div id="divActions" class="actions__body list__container">
                    <div class="actions-item list__item flxp-rcc" v-for="action in actions">
                        <input type="checkbox" :checked="action.checked" v-model:checked="action.checked"
                            class="files__select" />
                        <div class="flxc">
                            <div v-if="action.type === 'replace'">
                                <span class="action__title">Replace</span>
                                <label class="action__puretext">
                                    <input type="checkbox" :checked="action.puretext" v-model="action.puretext" />
                                    Use Pure Text Matching
                                </label><br>
                                <input type="text" class="action__attribute action__replace-pattern"
                                    :value="action.pattern" v-model="action.pattern" /><br>
                                <input type="text" class="action__attribute action__replace-replacement"
                                    :value="action.replacement" v-model="action.replacement" />
                            </div>
                            <div v-if="action.type === 'filter'">
                                <span class="action__title">Filter</span>
                                <label class="action__puretext">
                                    <input type="checkbox" :checked="action.puretext" v-model="action.puretext" />
                                    Use Pure Text Matching
                                </label><br>
                                <input type="text" class="action__attribute action__filter-pattern"
                                    :value="action.pattern" v-model="action.pattern" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divNewAction" class="new-action">
                    <div id="divNewActionExpand" class="expand-button">
                        <span>+New Action</span>
                    </div>
                    <div id="divNewActionType" class="flxp-rcc">
                        <select id="slcNewActionType" class="select flxc" v-model="newAction.type">
                            <option v-for="actionType in actionTypes" :value="actionType.type">
                                {{actionType.name}}
                            </option>
                        </select>
                    </div>
                    <div :class="{ active: newAction.type === 'replace' }" class="new-action-attributes">
                        <div class="new-action-attributes__body">
                            <img class="new-action-attributes__icon" src="img/replace-find.png" />
                            <div class="new-action-attributes__inputs">
                                <input type="text" id="txtNewActionReplacePattern" class="flxc"
                                    placeholder="Find" />
                                <br>
                                <input type="text" id="txtNewActionReplaceReplacement" class="flxc"
                                    placeholder="Replace with" />
                                <br>
                                <label for="chkNewActionReplacePureText">
                                    <input type="checkbox" id="chkNewActionReplacePureText" class="flxc" />
                                    Use Pure Text Matching
                                </label>
                            </div>
                        </div>
                    </div>
                    <div :class="{ active: newAction.type === 'filter' }" class="new-action-attributes">
                        <div class="new-action-attributes__body">
                            <img class="new-action-attributes__icon" src="img/filter.png" />
                            <div class="new-action-attributes__inputs">
                                <input type="text" id="txtNewActionFilterPattern" class="flxc"
                                    placeholder="Filter" />
                                <br>
                                <label for="chkNewActionFilterPureText">
                                    <input type="checkbox" id="chkNewActionFilterPureText" class="flxc" />
                                    Use Pure Text Matching
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="divNewActionConfirm" class="flxp-rcc">
                        <input type="button" id="btnNewActionConfirm" value="Confirm" 
                            class="button flxc" v-on:click="actionTypes[newAction.type].create(); " />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>